@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// reset
html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

button {
  font-family: "Roboto", sans-serif;
}

//main : main
#main {

  .main_img {
    width: 100%;
    height: 973px;
    background-image: url('../img/main_banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .main_content {
      font-size: 22px;
      font-weight: 500;

      .text {
        letter-spacing: 2px;
        margin-bottom: 35px;
      }
    }
  }

  // tab_menu
  .tab_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    gap: 60px;
    font-size: 24px;
    color: #0000004D;
    padding: 0 45px;
    margin-bottom: 45px;

    .tab {
      transition: color 0.3s, opacity 0.3s;

      &.active {
        color: black;
        opacity: 1;
      }

      &:not(.active) {
        opacity: 0.5;
      }
    }
  }

  // main_product
  .main_product {
    display: flex;
    flex-direction: column;
    padding: 0 45px;

    .product_container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 20px;

      .productBox {
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin: 10px;
        width: calc(25% - 20px);

        .product_img {
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        .product_text {
          cursor: pointer;

          .name {
            margin: 10px 0;
          }

          .price {
            font-weight: 600;

            .discount {
              color: red;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }


  .main_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 96px;

    .categories_title {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 2px;
      margin-top: 207px;
    }

    .categories_menu {
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-size: 70px;
      font-weight: 600;
      margin-bottom: 230px;

      li {

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }


  .main_section {

    .section_banner {
      width: 100%;
      height: 700px;
      position: relative;
      overflow: hidden;
      background-image: url("../img/mainSection_banner.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: top 50% center;
    }

    .section_container {
      display: flex;
      padding: 40px 45px;
      gap: 20px;

      .product_container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .imgBox {
          img {
            width: 100%;
            cursor: pointer;
          }
        }

        .textBox {
          display: flex;
          flex-direction: column;
          gap: 15px;
          font-size: 18px;
          cursor: pointer;

          .price {
            font-weight: 600;

            .discount {
              color: #FF0000;
            }
          }
        }

      }
    }
  }

  .brandStory_section {
    padding: 0 45px;
    margin-top: 230px;
    margin-bottom: 297px;


    .title {
      margin-bottom: 50px;
      font-size: 18px;
      font-weight: 500;
    }


    .swiper-container {

      .swiper-slide {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
        }

        .slide-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 15px;

          h3 {
            margin: 0;
            padding: 0;
            font-size: 24px;
          }

          p {
            margin: 0;
            padding: 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}