@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// reset
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    // tab_menu
    .tab_menu {
        display: flex;
        gap: 40px;
        font-size: 24px;
        color: #0000004D;
        padding-left: 45px;
        margin-top: 80px;

        .tab {
            transition: color 0.3s, opacity 0.3s;

            &.active {
                color: black;
                opacity: 1;
            }

            &:not(.active) {
                opacity: 0.5;
            }
        }

    }


    // main_product
    .main_product {
        display: flex;
        flex-direction: column;
        margin-top: 57px;
        margin-bottom: 100px;
        padding: 0 40px;

        .product_container {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;

            .productBox {
                display: flex;
                gap: 20px;
                flex-direction: column;
                margin: 10px;
                width: calc(25% - 20px);
                margin-bottom: 45px;


                .product_img {
                    cursor: pointer;

                    img {
                        width: 100%;
                    }
                }

                .product_text {
                    cursor: pointer;

                    .name {
                        margin: 10px 0;
                    }

                    .price {
                        font-weight: 600;

                        .discount {
                            color: red;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }


}