<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/css/layout.css" />
  </head>

  <body>
    <footer id="footer">
      <div class="footer_top">
        <ul class="top_left">
          <li>Terms of Use</li>
          <li>Announcements</li>
          <li>Affiliate Promotion Marketing Inquiry</li>
          <li>Franchise and Partnership Inquiry</li>
        </ul>
        <ul class="top_right">
          <li><img src="/img/youtube_icon.svg" alt="youtube_icon" /></li>
          <li><img src="/img/instagram_icon.svg" alt="instagram_icon" /></li>
          <li><img src="/img/facebook_icon.svg" alt="facebook_icon" /></li>
          <li><img src="/img/line_icon.svg" alt="line_icon" /></li>
        </ul>
      </div>

      <div class="footer_bottom">
        <div class="bottom_left">
          <div class="logo">
            <img src="/img/footer_logo.svg" alt="logo2">
          </div>
          <div class="text_container">
            <div class="textBox01">
              (WAKEMAKE Co., Ltd.) </br>
              Representative Director: Seoul Special City, WAKEMAKE </br>
              Business Registration Number: 123-45-67890 </br>
              Newly Developed Sales Registration Number: 2024-Seoul-0014 </br>Product Inquiry: 000-123-1234 </br>
              Unauthorized collection refusal Personal Information </br>Protection Manager Jung Gu-hwa Hosting Service Provider </br>
              WAKEMAKE Co., Ltd.
            </div>
            <div class="textBox02">
              Copyrihgt © 2024 wakemake. All Rights Reserved.
            </div>
          </div>
        </div>
        <div class="bottom_middle">
          FAX: 02-1234-1234 </br>
          Email Address: wakemake@wakemake.com </br>
          Business Cooperation/Partnership Inquiry: partner.biz@wakemake.com
        </div>
        <div class="bottom_right">
          <div class="text01">Customer Service Center Usage Guide</div>
          <div class="text02">080-123-1234</div>
          <div>
            Operating Hours </br>
            Weekdays: 10:00 AM - 6:00 PM </br>
            Lunch Break: 12:00 PM - 1:00 PM 
          </div>
          <button>1:1 Consultation</button>
        </div>
      </div>
    </footer>
  </body>
</html>
