<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAKEWAKE</title>
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <header id="header">
      <div class="header_left">
        <a href="../html/main.html"
          ><img id="goToMain" src="../img/header_logo.svg" alt="logo"
        /></a>
      </div>
      <ul class="header_right">
        <li><a href="../html/shop.html">SHOP</a></li>
        <li><a href="../html/brandStroy.html">BRAND STORY</a></li>
        <li><a href="">CART(0)</a></li>
        <li><a href="">LOGIN</a></li>
      </ul>
    </header>

    <script src="../js/layoutContent.js"></script>
  </body>
</html>
