<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAKEWAKE</title>
    <link rel="stylesheet" href="/css/layout.css" />
  </head>
  <body>
    <header id="header">
      <div class="header_left">
        <a href="/html/main.html"
          ><img id="goToMain" src="/img/header_logo.svg" alt="logo"
        /></a>
      </div>
      <ul class="header_right">
        <li class="menu_item">
          <a href="/html/shop.html">SHOP</a>
          <ul class="submenu">
            <li><a href="/html/new1999vintage.html">New 1999 Vintage</a></li>
            <li><a href="/html/face-makeup.html">Face Makeup</a></li>
            <li><a href="/html/eye-makeup.html">Eye Makeup</a></li>
            <li><a href="/html/lip-makeup.html">Lip Makeup</a></li>
            <li><a href="/html/nail.html">Nail</a></li>
            <li><a href="/html/tool.html">Tool</a></li>
          </ul>
        </li>
        <li><a href="/html/brandStroy.html">BRAND STORY</a></li>
        <li><a href="/html/login.html">LOGIN</a></li>
        <li><a href="#">CART(0)</a></li>
      </ul>
    </header>

    <script src="/js/layoutContent.js"></script>
  </body>
</html>
