<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delight-footer</title>
    <!-- css -->
    <link rel="stylesheet" href="../styles/footer.css" />
  </head>
  <body>
    <footer id="footer">
      <div class="top_footer">
        <div class="logo">
          <img src="../assets/icons/f-logo.svg" alt="f-logo" />
        </div>
        <div class="g-15">
          <h5>DELIGHT Co., Ltd</h5>
          <p>
            Representative Director: Seoul Special City, DELIGHT Business
            Registration Number: 123-45-67890 Personal Information Protection
            Manager: Jung Gu-hwa Hosting Service Provider : DELIGHT Co., Ltd.
            Unauthorized collection refusal
          </p>
        </div>
        <div class="g-15">
          <h5>Contact and Inquiry Information</h5>
          <p>
            FAX: 02-1234-1234 Email Address: delight@delight.com Business
            Cooperation/Partnership Inquiry: partner.biz@delight.com Newly
            Developed Sales Registration Number: 2024-Seoul-0014 Product
            Inquiry: 000-123-1234
          </p>
        </div>
        <div class="g-15">
          <h5>Toss Payments Safety Registration</h5>
          <p>
            Toss Payments Escrow Service Registration For our online shopping
            mall, we apply Purchase Safety Service to bank transfer transactions
            for the safety of our customers' transactions. Confirmation of Toss
            Payments Purchase Safety Service Registration
          </p>
        </div>
        <div class="g-15">
          <h5>Customer Service</h5>
          <p class="number">080-123-1234</p>
          <p>
            Operating Hours Weekdays: 10:00 AM - 6:00 PM Lunch Break: 12:00 PM -
            1:00 PM
          </p>
          <button>1:1 Consultation</button>
        </div>
      </div>

      <div class="bottom_footer">
        <div class="b-icon">
          <div>
            <img src="../assets/icons/f-youtube.svg" alt="f-youtube" />
          </div>
          <div>
            <img src="../assets/icons/f-instagram.svg" alt="f-instagram" />
          </div>
          <div>
            <img src="../assets/icons/f-facebook.svg" alt="f-facebook" />
          </div>
          <div>
            <img src="../assets/icons/f-line.svg" alt="f-line" />
          </div>
        </div>

        <div class="b-items">
          <p><a href="#">Terms of Use</a></p>
          <p><a href="#">Announcements</a></p>
          <p><a href="#">Affiliate Promotion Marketing Inquiry</a></p>
          <p><a href="#">Franchise and Partnership Inquiry</a></p>
        </div>

        <div class="b-copy">
          <p>Copyrihgt © 2024 delight. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
